<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>StorageHub</title>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>

  </head>
  <body>


    <div id="form-container" class="container">
      <div class="form-group">
        <input type="text" placeholder="Email" id="email" class="form-control">
        <input type="password" placeholder="Password" id="password" class="form-control">
        <button class="btn-btn-danger" id="signUpBtn">Sign Up</button>
        <button class="btn-btn-success" id="signInBtn">Sign In</button>

      </div>
    </div>
    <script>
    require('../renderer.js')

    require('../firebase/firebase.js')
    // const firebase = require('../firebase/firebase.js')
    var user = firebase.auth().currentUser;
    if(user){
      document.location.href = "../index.html";
    }else {
      console.log(user)
    }
    </script>
    <!-- <script>
      // You can also require other files to run in this process
      const electron = require('electron')
      const {ipcRenderer} =  electron;
      const ul = document.querySelector('ul')

      ipcRenderer.on('item:add', function(e,item){
        const li = document.createElement('li');
        const itemText = document.createTextNode(item);

        li.appendChild(itemText);
        ul.appendChild(li)
      })

    </script> -->
  </body>
</html>
