<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.$ = window.jQuery = require('jquery');
    </script>
    <meta charset="UTF-8">
    <title>StorageHub</title>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.0/firebase.js"></script>

      <!-- Custom styles for this template-->
      <link href="css/login.css" rel="stylesheet">
      <!-- Bootstrap core JavaScript-->
</head>
<body>

    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="Usuario"/>
          <input type="password" placeholder="Contrasena"/>
          <button>iniciar sesion</button>
        </form>
      </div>
    </div>
    <script>
    require('../renderers/user.js')


    </script>
</body>
</html>
